{% extends 'base.html' %}

<style>



</style>

{% block content %}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-offset-2 col-sm-8 text-left"> 
      <div class="panel panel-default">
		    <h3 class="panel-title">Search By Keyword</h3>
		  		<div class="panel-body">
		    		<div class="input-group">
  						<span class="input-group-addon" id="basic-addon1"></span>
  							<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
			</div>
		  </div>
		</div>
    </div>
   </div>
 </div>



{% endblock content %}
